<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'analytics', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <title>Andemenos.com - Analytics</title>
  <style media="screen">
    body {
      font-family: sans-serif;
    }
  </style>
</head>
  <body>
    <h1 class="text-center">Seja bem vindo(a) a análise estatística de suas ofertas.</h1>
    <br />
    <form class="form-inline text-center">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Email address</label>
        <input type="text" name="dateinit" class="form-control" id="exampleInputEmail3" value="<%= params[:dateinit] %>" placeholder="2015-10-10">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword3">Password</label>
        <input type="text" name="datefini" class="form-control" id="exampleInputPassword3" value="<%= params[:datefini] %>" placeholder="2015-10-20">
      </div>
      <button type="submit" class="btn btn-primary">Filtrar</button>
    </form><br />
    <div class="col-md-6">
      <div class="text-center">Quantidade de acessos por categoria</div>
      <%= pie_chart @access_category %>
    </div>
    <div class="col-md-6">
      <div class="text-center">Quantidade de acessos por subcategoria</div>
      <%= pie_chart @access_subcategory %>
    </div>
    <div class="col-md-6">
      <div class="text-center">Quantidade de acessos diretos por produto</div>
      <%= pie_chart @access_product %>
    </div>
    <div class="col-md-6">
      <div class="text-center">Quantidade de acessos por páginas</div>
      <%= pie_chart @pages %>
    </div>
    <div class="col-md-6">
      <div class="text-center">Quantidade de ofertas cadastradas</div>
      <%= pie_chart @prod_company %>
    </div>
    <div class="col-md-6">
      <div class="text-center">Produtos visualizados na Home</div>
      <%= line_chart @teste %>
    </div>
  </body>
</html>
