<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
  <title>Andemenos.com - As melhores ofertas bem perto de você</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/alerts" %>
  <header>
    <div class="cont-logo-menu-top">
      <div class="center">
        <div class="logo">
          <%= link_to root_path do %>
            <h1>Andemenos.com</h1>
            <h2> - As melhores ofertas bem perto de você</h2>
          <% end %>
        </div>
        <div class="cart">
          <span>
            <span><%= link_to 'Quem somos', about_path %></span>
            <span><%= link_to 'Anuncie', ads_path %></span>
            <% if user_signed_in? %>
            <span><%= link_to 'Sair', destroy_user_session_path, :method => :delete %></span>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="cont-category-search">
      <div class="center">
        <div class="category-title">
          <%= link_to '#' do %>
          <i class="fa fa-bars nav-menu"></i>
          <% end %>
          <span>Principais categorias em</span>
        </div>
        <div class="search">
          <%= form_tag search_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], placeholder: 'Busque por: produto, empresa, marca...' %>
            <%= submit_tag "Search", :value => "" %>
          <% end %>
        </div>
      </div>
    </div>
  </header>

  <div class="cont-products">
    <main><%= yield %></main>
  </div>

  <footer>
    <div class="center">
      <div class="info-footer text-left">
        <p>Ofertas sujeitas a alteração sem previo aviso, imagens ilustrativas.</p>
        <p>Todas as ofertas são de responsábilidade do ofertante.</p>
        <p>Caso haja divergência nos valores, a prioridade é o valor do estabelecimento.</p>
      </div>
      <div class="text-right logo-footer">
        Andemenos.com
      </div>
    </div>
  </footer>
  <div class="bg-overlay"></div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-67232921-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
